.business_container {
    margin-bottom: 1rem;
    width: 50%;
}

.business_name {
    color: red;
    margin-bottom: 0.5rem;
}

.business_address,
.business_location {
    color: var(--hurricane);
    font-size: small;
}

.business_location {
    margin-bottom: 0.5rem;
}

.business_description {
    margin-bottom: 0.5rem;
}

.business_button {
    text-transform: uppercase;
    background-color: white;
    border: 1px solid red;
    padding: 0.5rem 2rem;
    color: red;
    font-size: small;
}