ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.navbar-container {
    display: flex;
    padding: 1rem;
    margin-top: 0.5rem;
    width: 100%;
    border-bottom: 0.1px solid var(--athens-grey);
}

.navbar-left {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navbar-left a {
    margin-left: 3rem;
    text-transform: uppercase;
    font-size: medium;
}

.navbar_links {
    margin-left: 3rem;
    display: flex;
    align-items: center;
}

.navbar_github {
    margin-left: 3rem;
}

.navbar_site_tip {
    color: var(--hurricane);
}

.navbar-right {
    display: flex;
    width: 35%;
    /* align-items: flex-end; */
}

.navbar-right a {
    margin-left: 1rem;
}

.navbar-login_button {
    text-transform: uppercase;
}

.navbar-signup_button {
    text-transform: uppercase;
    background-color: white;
    border: 1px solid var(--midnight);
    padding: 0.5rem 2rem;
    color: var(--midnight);
    font-size: small;
    cursor: grab;
}

.navbar-signup_button:hover {
    color: white;
    background-color: var(--midnight);
}

.navbar-user_dropdown {
    width: 25%;
}

.navbar-menu_button {
    width: 100%;
    display: inline-block;
    cursor: pointer;
    border: none;
    background: none;
}

.navbar-register_button {
    text-transform: uppercase;
    background-color: white;
    border: 1px solid var(--midnight);
    padding: 0.5rem 2rem;
    color: var(--midnight);
    font-size: small;
    cursor: grab;
}

.navbar-register_button:hover {
    color: white;
    background-color: var(--midnight);
}

.profile-dropdown {
    padding: 0 1rem;
    position: absolute;
    border: 0.1px solid var(--athens-grey);
    right: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-dropdown button {
    text-transform: uppercase;
    background-color: white;
    border: 1px solid var(--midnight);
    padding: 0.5rem 2rem;
    color: var(--midnight);
    font-size: small;
    cursor: grab;
}

.profile-dropdown button:hover {
    color: white;
    background-color: var(--midnight);
}